img{
    border: 20px;
    padding: 40px;
    background-color: aquamarine;
}
p{
    color: chocolate;
    background-color: beige;
    border: 50%;
    padding: 2rem;
}
h1{
    text-align: justify;
    background-color: tomato;
}